[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = SJayYang
	email = stanley.j.yang@gmail.com
[core]
	excludesfile = /Users/stanley/.gitignore
[color]
	ui = auto
